[Unit]
Description=Ansible Pull Configuration
After=network-online.target
Wants=network-online.target
# S'exécute avant qu'overlayroot gèle le système
Before=overlayroot.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ansible-pull -U https://github.com/ton-org/ton-repo.git \
          -C main \
          --accept-host-key \
          -i localhost, \
          site.yml
StandardOutput=append:/var/log/ansible-pull.log
StandardError=append:/var/log/ansible-pull.log
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target